# Layer Configuration File

#============================== INPUT / OUTPUT ==============================
SourceWidth     176                     # Input  frame width
SourceHeight    144                     # Input  frame height
FrameRateIn     30                      # Input  frame rate [Hz]
FrameRateOut    30                      # Output frame rate [Hz]
InputFile       orig/IDR_176x144_30.yuv # Input  file
ReconFile       tmp/IDR_rec_L1.yuv      # Reconstructed file
SymbolMode	1			# (0:CAVLC, 1:CABAC)

Enable8x8Transform           0          # 8x8 transform
MaxDeltaQP      1                       # Max. absolute delta QP
QP              32.00                   # Quantization parameters

MeQP0           32.00                   # QP for motion estimation / mode decision (stage 0)
MeQP1           32.00                   # QP for motion estimation / mode decision (stage 1)
MeQP2           32.00                   # QP for motion estimation / mode decision (stage 2)
MeQP3           32.00                   # QP for motion estimation / mode decision (stage 3)
MeQP4           32.00                   # QP for motion estimation / mode decision (stage 4)
MeQP5           32.00                   # QP for motion estimation / mode decision (stage 5)

InterLayerPred  2                       # Inter-layer Prediction (0: no, 1: yes, 2:adaptive)
BaseQuality     0                       # Base quality level [0..15] (0: no, 15: all) 

#=========== IDR ===========
IDRPeriod      16                       # IDR period (should be integral times of GOP size)
                                        # UseAdaptiveGOP should be 0
