# Layer Configuration File

#============================== INPUT / OUTPUT ==============================
SourceWidth     560                    # Input  frame width
SourceHeight    448                    # Input  frame height
FrameRateIn     30                     # Input  frame rate [Hz]
FrameRateOut    30                     # Output frame rate [Hz]
InputFile       orig/CFG2_I2P_560x448_30.yuv # Input  file
ReconFile       tmp/CFG2_I2P_rec_L0.yuv      # Reconstructed file
SymbolMode      1                       # 0=CAVLC, 1=CABAC
MbAff           1   			# Mb Adaptive Frame Field coding (0: ON, 1: OFF)                    

Enable8x8Transform           1          # 8x8 transform
MaxDeltaQP      1                                # Max. absolute delta QP
QP              36.45                            # Quantization parameters

MeQP0           36.45                   # QP for motion estimation / mode decision (stage 0)
MeQP1           36.45                   # QP for motion estimation / mode decision (stage 1)
MeQP2           36.45                   # QP for motion estimation / mode decision (stage 2)
MeQP3           36.45                   # QP for motion estimation / mode decision (stage 3)
MeQP4           36.45                   # QP for motion estimation / mode decision (stage 4)
MeQP5           36.45                   # QP for motion estimation / mode decision (stage 5)

InterLayerPred  0                       # Inter-layer Prediction (0: no, 1: yes, 2:adaptive)
BaseQuality     0                       # Base quality level [0..15] (0: no, 15: all) 

