# Layer Configuration File

#============================== INPUT / OUTPUT ==============================
SourceWidth     176                     # Input  frame width
SourceHeight    144                     # Input  frame height
FrameRateIn     30                      # Input  frame rate [Hz]
FrameRateOut    30                      # Output frame rate [Hz]
InputFile       orig/IPCM_176x144_30.yuv    # Input  file
ReconFile       tmp/IPCM_rec_L2.yuv # Reconstructed file
SymbolMode      1

Enable8x8Transform           1          # 8x8 transform
MaxDeltaQP      3                       # Max. absolute delta QP
QP              24                   # Quantization parameters

MeQPLP          24.00
MeQP0           24.00                   # QP for motion estimation / mode decision (stage 0)
MeQP1           24.00                   # QP for motion estimation / mode decision (stage 1)
MeQP2           24.00                   # QP for motion estimation / mode decision (stage 2)
MeQP3           24.00                   # QP for motion estimation / mode decision (stage 3)
MeQP4           24.00                   # QP for motion estimation / mode decision (stage 4)
MeQP5           24.00                   # QP for motion estimation / mode decision (stage 5)

InterLayerPred  2                       # Inter-layer Prediction (0: no, 1: yes, 2:adaptive)
AvcRewriteFlag  1                       # Enable SVC to AVC rewrite (0: no, 1: yes)

IPCMRate        3                       # forced IPCM Mbs in percent

