# Layer Configuration File

#============================== INPUT / OUTPUT ==============================
SourceWidth     352                     # Input  frame width
SourceHeight    288                     # Input  frame height
FrameRateIn     30                      # Input  frame rate [Hz]
FrameRateOut    30                      # Output frame rate [Hz]
InputFile       orig/Rewriting1_352x288_30.yuv     # Input  file
ReconFile       tmp/Rewriting1_rec_L2.yuv # Reconstructed file

Enable8x8Transform           1          # 8x8 transform
MaxDeltaQP      1                       # Max. absolute delta QP
QP              27.00                   # Quantization parameters

MeQP0           25.00                   # QP for motion estimation / mode decision (stage 0)
MeQP1           25.00                   # QP for motion estimation / mode decision (stage 1)
MeQP2           25.00                   # QP for motion estimation / mode decision (stage 2)
MeQP3           25.00                   # QP for motion estimation / mode decision (stage 3)
MeQP4           25.00                   # QP for motion estimation / mode decision (stage 4)
MeQP5           25.00                   # QP for motion estimation / mode decision (stage 5)

InterLayerPred  2                       # Inter-layer Prediction (0: no, 1: yes, 2:adaptive)
BaseQuality     0                       # Base quality level [0..15] (0: no, 15: all) 

#============================== SVC TO AVC REWRITE ==============================
AvcRewriteFlag          1               # Enable SVC to AVC rewrite (0: no, 1: yes)
AvcAdaptiveRewriteFlag  0               # AVC adaptive rewrite flag (0: no, 1: yes)
